body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 95%; /* Aumentado el ancho */
  max-width: 800px; /* Mayor max-width para pantallas grandes */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

div {
  margin-bottom: 20px;
  padding: 15px; /* Padding interno para espaciar el contenido */
  border-radius: 8px;
  background-color: #f9f9f9; /* Fondo ligeramente más oscuro */
  border: 2px solid #ddd; /* Borde más notable para cada sección */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
  font-size: 1.5em;
  color: #444;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.15em;
  color: #444;
  margin-bottom: 10px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.result-box {
  padding: 10px;
  margin-top: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 40px;
  font-size: 1em;
  color: #333;
}
